<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<meta charset="ISO-8859-1">
<title>Admin Login</title>
</head>
<body>
	<div ng-controller="myCtrl">
		<form class="form-horizontal" role="form">

			<div class="form-group">
				<label for="userId" class="col-sm-2 control-label">Please
					Admin Login</label><br> <br> <label for="userId"
					class="col-sm-2 control-label">Admin UserId</label>
				<div class="col-sm-10">
					<input type="text" ng-model="user.userId" class="form-control"
						id="user.userId" placeholder="User Id" />
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Admin
					Password</label>
				<div class="col-sm-10">
					<input type="text" ng-model="user.password" class="form-control"
						id="user.password" placeholder="Password" />
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" class="btn btn-primary" value="Login"
						ng-click="adminLogin()" />
				</div>
			</div>

		</form>

		<script>
			angular.module('myApp', []).controller('myCtrl',
					[ '$scope', function($scope) {

						$scope.adminLogin = function() {
							url = 'http://localhost:8080/index.html';
							window.location.href = url
						};
					} ]);
		</script>
	</div>
</body>
</html>